*{
    margin:0;
    padding:0;
}

html {
    height: 100%;
    background: #252144;
}

/* body {
     background: linear-gradient(to right, #0297fb, #8c3e7a);
} */

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.screen {
    width: 202px;
    margin: 4px;
    font-size: 25px;
    padding: 8px;
    border: 0;
    background: #8c3e7a;
    color: white;
}

.button {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    border: 0;
    background: #297fb8;
    color: #252144;
}

.button--zero {
    width: 106px;
}

.button--equal {
    height: 106px;
}

.button--operation {
    background: #23648f;
}